<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>


    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="WsEnviarLoteEventos" >
            <security mode="Transport">
              <transport clientCredentialType="Certificate" />
            </security>
          </binding>
        </basicHttpBinding>
        <customBinding>
          <binding name="WsEnviarLoteEventos">
            <textMessageEncoding messageVersion="Soap11" />
            <httpsTransport requireClientCertificate="true" />
          </binding>
        </customBinding>
      </bindings>
      <client>
        <endpoint address="https://webservices.producaorestrita.esocial.gov.br/servicos/empregador/enviarloteeventos/WsEnviarLoteEventos.svc"
          binding="basicHttpBinding" bindingConfiguration="WsEnviarLoteEventos"
          contract="ServicoEnviarLoteEventos" name="WsEnviarLoteEventos" />
      </client>
    </system.serviceModel>

  
</configuration>